.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-input {
    width: 70%;
    padding: 0.7rem;
    margin: 0.3rem;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    &::placeholder {
      font-size: 1.2rem;
      color: rgb(133, 133, 133);
    }
  }
  &-container-btn-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 2.5rem;
    & i {
      display: block;
    }
    & .btn-plus-text {
      display: none;
    }
    & :hover {
      i {
        display: none;
      }
      .btn-plus-text {
        display: inline-block;
        font-weight: bold;
        font-size: 2rem;
      }
    }
  }

  &-btn-plus {
    font-size: 2.2em;
    color: #42f5b9;
  }
}
