.app {
  width: 600px;
  min-height: 500px;
  background: #fbf1ff;
  backdrop-filter: blur(12rem);
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
  color: blue;
  box-shadow: 0 2px 4px 0 rgba(230, 108, 203, 0.8),
    0 25px 50px 0 rgba(240, 171, 225, 0.4);
  &-title {
    padding: 0.2rem;
    text-align: center;
    text-transform: uppercase;
  }
  &-p {
    text-align: center;
    margin: 1.2rem 0;
  }
  &-span {
    color: red;
  }
}

@media screen and (max-width: 550px) {
  .app {
    width: 100%;
  }
  .app-title {
    font-size: 16px;
  }
}
